@import "tailwindcss";

/* custom small tweaks */
html,body,#__next{height:100%}
body{
  @apply bg-slate-50 text-slate-900;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.container{
  max-width:1100px;
  margin-left:auto;
  margin-right:auto;
  padding-left:20px;
  padding-right:20px;
}
